/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/ */
    /*box-sizing: border-box;*/
  /* } */
  /*from socket.io "hello world" chat exampe*/
  
  body {
  @@ -25,12 +25,18 @@ body {
  }
  
  #output p {
    padding: 14px 0px;
    margin: 0 20px;
    padding: 14px 0px;
    color: #555;
    border-bottom: 1px solid #e9e9e9;
  }
  
  #feedback p {
    margin: 0 20px;
    padding: 14px 0;
    color: #aaa;
  }
  
  input {
    display: block;
    box-sizing: border-box;